@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Matangi:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

/* Body Section */

body {
    border: 1px solid #000;
    font-family: 'Matangi';
    font-size: 62.5%;
    color: #FFF;
    background-color: #000;
}

/* Container Section */

#container {
    border: 1px solid #000;
    display: grid;
    grid-template-areas:
        "header header"
        "nav main";
    grid-template-columns: 3fr 9fr;
    grid-template-rows: .5fr 11.5fr;
    min-height: 100vh;
    width: 100%;
}

/* Header Section */

header {
    grid-area: header;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #202020;
}

#workspace_personal_container {
    display: flex;
    gap: .75rem;
    align-items: center;
    justify-content: center;
}

#initial_container {
    border: 1px solid #FFF;
    border-radius: .25rem;
    padding: .1rem .5rem;
}

#personal_initial {
    font-size: .7rem;
    font-weight: 900;
}

#current_workspace {
    font-size: .8rem;
}

#header_menu_list {
    display: flex;
    gap: .25rem;
}

#search_menu_container {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    font-size: .8rem;
    gap: .5rem;
    width: 18rem;
    background-color: #636363;
    padding: 0 .5rem;
}

#search_menu_container i {
    font-size: .9rem;
}

.header_menu_item button {
    background: transparent;
    color: white;
    border: none;
    font-size: 1.25rem;
}

/* Nav Section */

nav {
    outline: 1px solid #000;
}

#nav_menu {
    outline: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: .2rem;
}

#nav_column_one, #nav_column_two {
    background-color: #202020;
    outline: 1px solid #000;
    width: 100%;
}

#nav_column_one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem .5rem;
}

.nav_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

.nav_items i {
    font-size: 1.25rem;
}

.ri-brain-line {
    transform: rotate(90deg);
}

#nav_column_to_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .25rem;
}

#home_nav_menu_top {
    padding: .5rem;
}

#home_list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.nav_home_items {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
}

.nav_home_items i {
    font-size: 1rem;
}

.nav_home_items .ri-more-2-line {
    transform: rotate(90deg);
}

.nav_items:hover,
.nav_home_items,
i:hover {
    cursor: pointer;
}

#home_nav_menu_favorites,
#home_nav_menu_channels,
#home_nav_menu_direct_messages,
#home_nav_menu_spaces {
    padding: .5rem;
}

.nav_subtitle {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

#home_nav_spaces_container {
    display: flex;
    justify-content: space-between;
}

/* Main Section */

main {
    outline: 1px solid #000;
    background-color: #101010;
    grid-area: main
}

/* Dialog Modals */

#task_dialog {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
}

#dialog_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#form_task {
    border: 1px solid #000;
}